@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans;
    background: linear-gradient(-45deg, #03ff6a, #3e02ff);
    background-size: 200% 200%;
    animation: bg-animation 15s ease infinite;
    backdrop-filter: blur(1vh);
}

@keyframes bg-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}